header {
  background-color: rgb(182, 182, 255);
  color: rgb(44, 44, 82);
  border-radius: 0 0 4rem 4rem;
  padding: 0.45rem;
  align-items: center;
}

img {
  margin-right: 20px;
}

.texto_centralizado {
  text-align: center;
}

body {
  background-color: rgb(208, 208, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: rgb(44, 44, 82);
}

h4 {
  color: rgb(34, 34, 63);
  text-decoration: underline;
}

a {
  color: rgb(58, 58, 148);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 175);
}

a:visited {
  color: rgb(56, 56, 94);
}

a:visited:hover {
  color: rgb(0, 0, 175);
}

body ::selection {
  background-color: mediumslateblue;
  color: rgb(182, 182, 255);
}

table {
  background-color: rgb(165, 165, 253);
  color: rgb(34, 34, 63);
  border-color: rgb(34, 34, 63);
  text-align: center;
}

thead {
  text-decoration: solid;
  background-color: mediumslateblue;
}

footer {
  background-color: rgb(182, 182, 255);
  color: rgb(44, 44, 82);
  border-radius: 0 0 4rem 4rem;
  padding: 0.45rem;
}
